/*MOBILE FIRST LAYOUT*/

/*INDEX
1. Variables and prestyling: 9 - 62.
2. Utilities: 65 - 156.
3. Header 158 - 182.
4. Navbar 184 - 267.
5. Transform section 269 - 283.
6. Stand out section 285 - 290.
7. Two images section 292 - 326.
8. Testimonials section 328 - 374.
9. Gallery section 375 - 381.
10. Footer 387 - 416.
11. Media query 799px 416 - end.
*/


/*VARIABLES AND PRESTYLING*/

:root{
    /*PRIMARY*/
    --soft-red: hsl(7, 99%, 70%);
    --soft-red-disabled:hsl(6, 92%, 90%);
    --yellow: hsl(51, 100%, 49%);
    --yellow-disabled:hsl(51, 89%, 83%);
    --dark-moderate: hsl(168, 34%, 41%);
    --blue:hsl(168, 50%, 64%);
    /*NEUTRAL*/
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
    --backgorund:#f7f2ee;
    --background-intense:#f8e4d4;
}

@font-face{
    font-family:'Barlow';
    src:url(../fonts/Barlow-SemiBold.ttf);
}

@font-face{
    font-family:'Fraunces Bold';
    src:url(../fonts/Fraunces-Bold.ttf);
}

@font-face{
    font-family:'Fraunces Black';
    src:url(../fonts/Fraunces-Black.ttf)
}

a{
    text-decoration:none;
}

ul{
    list-style:none;
}

h1{
    font-family:'Fraunces Bold'; 
}

.img-desktop{
    display:none;
}

body{
    font-family: 'Barlow',sans-serif;
}

/*UTILITIES*/

.container{
    max-width:1440px;
    padding:0 24px;
    height:100%;
    margin:auto;
    position:relative;
}

#stop-animations *{
    transition:none;
    animation:none;
}

.flex{
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.line-break{
    display:block;
}

.padding{
    padding-bottom:50px;
}

.underline{
    position:relative;
    text-transform:uppercase;
    z-index:2;
    font-family:'Fraunces Black',sans-serif;
    color:#333;
}

.underline::before{
    content:'';
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    bottom:-1px;
    width:125px;
    height:8px;
    z-index:-1;
    border-radius:16px;
    transition:background-color .3s;
}

.yellow::before{
    background-color: var(--yellow-disabled);
}

.yellow:hover::before{
    background-color: var(--yellow);
}


.pink::before{
    background-color:var(--soft-red-disabled);
}

.pink:hover::before{
    background-color:var(--soft-red);
}

.cover img{
   width:100%;
   height:100%;
   object-fit:cover;
}

.flex-column{
    display:flex;
    flex-direction: column;
    gap:60px;
    background-color: var(--backgorund);
}

.text-h2{
    font-family:'Fraunces Black',sans-serif;
    color:var(--very-dark-desaturated-blue);
    margin-bottom:20px;
    font-size:2rem;
}

.text-p{
    margin-bottom:20px;
    color:var(--very-dark-grayish-blue);
    line-height:1.5; 
}

/*HEADER*/

.header{
    position:relative;
}

.header__title{
    position:absolute;
    top:16%;
    text-align:center;
    
}

.header__title h1{
    text-transform: uppercase;
    color:var(--white);
    font-size:12vw;
    letter-spacing:5px;
}

.header__title img{
    width:37px;
    margin-top:23px;
}

/*NAVBAR*/

.navbar{
    height:70px;
    position:fixed;
    z-index:3;
    width:100%;
    top:0;
}

.navbar__responsive{
    flex-grow:1;
}

.navbar__menu{
    position:absolute;
    z-index:-1;
    text-align:center;
    background-color:var(--backgorund);
    left: 25px;
    right: 25px;
    margin-top:360px;
    transition:opacity .5s, visibility .5s;
    opacity:0;
    visibility: hidden;
}

.navbar__toggle{
    opacity:1;
    visibility: visible;
}

.navbar__menu::before{
  content: "";
  position: absolute;
  top: -20px;
  right: 0;
  width: 0;
  border-bottom: 20px solid var(--backgorund);
  border-left: 20px solid transparent;
}

.navbar__item{
    margin:25px 0 ;
}

.navbar__item:last-child{
    margin:45px 0;
}

.navbar__link{
    color:var(--very-dark-grayish-blue);
}

.navbar__toggler{
    background:transparent url(../img/icon-hamburger.svg) no-repeat center center;
    width:25px;
    height:20px;
    border:none;
    cursor:pointer;
}

.navbar__link--btn{
    background-color:var(--yellow);
    margin:60px 0;
    border-radius:23px;
    padding:16px 25px;
    color:#000;
    text-transform: uppercase;
    font-family:'Fraunces Bold',sans-serif;
}

.navbar__scroll{
    background-color:rgba(2,2,2,.95);
}

.navbar__scroll .navbar__menu{
    background-color: var(--background-intense);
}

.navbar__scroll .navbar__menu::before{
    border-bottom:20px solid var(--background-intense);
}

/*TRANSFORM SECTION*/

.transform{
    margin-top:-3px;
}

.transform__text{
    text-align:center;
    order:1;
}

.transform__image{
    order:0;
}

/*STAND OUT SECTION*/

.stand__text{
    text-align:center;
}

/*TWO IMAGES SECTION*/

.twoimages{
    display:flex;
    flex-direction:column;
}

.twoimages .container{
    padding:0 10px;
}

.twoimages__firstimage, .twoimages__secondimage{
    position:relative;
}

.twoimages__text{
    position:absolute;
    text-align:center;
    bottom:60px;
}

.twoimages__text h2{
    text-transform: capitalize;
    margin-bottom:20px;
    font-family:'Fraunces Black',sans-serif;
    color:var(--very-dark-desaturated-blue);
    font-size:31px;
}

.twoimages__text p{
    font-size:1rem;
    line-height:1.8;
    color:var(--very-dark-desaturated-blue);
}

/*TESTIMONIALS SECTION*/

.testimonials{
    background-color:var(--backgorund);   
    text-align:center;
    padding-top:50px;
}

.grid{
    display:grid;
    gap:80px;
    grid-template-columns:1fr;
}

.testimonials img{
    border-radius:50%;
    width:85px;
    height:85px;
    margin-bottom:25px;
}

.testimonials__name p{
    margin-top:10px;
    text-transform: capitalize;
    color:var(--grayish-blue);
}

.testimonials__name h3{
    text-transform: capitalize;
    font-family:'Fraunces Bold',sans-serif;
}

.testimonials__text{
    line-height:1.7;
    margin-bottom:25px;
    color:var(--very-dark-grayish-blue);
}

.testimonials__title{
    font-family:'Fraunces Bold';
    text-transform: uppercase;
    color:var(--grayish-blue);
    font-size:.65rem;
    letter-spacing: 3.5px;
    
}

/*GALLERY SECTION*/

.gallery{
    display:grid;
    grid-template-columns:1fr 1fr;
}

.gallery h2{
    display:none;
}

/*FOOTER*/

.footer{
    background-color:var(--blue);
    text-align:center;
    padding-top:50px;
}

.footer__social img{
    margin:0 10px;
}

.footer__nav{
    display:flex;
    justify-content: center;
    gap:30px;
    margin:35px 0;
}

.footer__nav a{
    color:var(--dark-moderate);
}

.footer__social{
    margin-top:86px;
}

.attribution { font-size: 11px; text-align: center;margin-top:20px; }
.attribution a { color: hsl(228, 45%, 44%); }

/*MEDIA QUERY 799 px*/

@media screen and (min-width:799px){
    .container{
        height:auto;
    }

    .container-desktop{
        height:auto;
        max-width:1440px;
        padding:0;
        margin:auto;
    }

    /*NAVBAR*/
    .navbar{
        height:100px;
    }
    .navbar .container{
        padding:0 40px;
    }

    .navbar__toggler{
        display:none;
    }
    .navbar__scroll .navbar__menu{
        background-color: transparent;
    }

    .navbar__menu{
        position:relative;
        display:flex;
        align-items: center;
        opacity:1;
        background-color:transparent;
        margin-top:0;
        z-index:2;
        visibility: visible;
        right:0;
        left:0;
    }

    .navbar__menu::before{
        position:relative;
        border:none;
    }

    .navbar__item{
        margin-left:40px;
    }

    .navbar__link--btn{
        margin-left:50px;    
        background-color: var(--white);
        transition:background-color .3s;
    }

    .navbar__link--btn:hover{
        background-color:rgba(255,255,255,.35);
        color:var(--white);
    }

    .navbar__link{
        margin:0;
        color:var(--white);
    }

    /*HEADER*/

    .header__title{
        top:30%;
        width:calc(100% - 40px);
    }

    .header__title h1{
        font-size:42px;
    }

    /*TWO COLUMN SECTION*/

    .transform{
        flex-direction:row;
        gap:0;
    }

    .transform__text{
        text-align:left;
        order:0;
        flex:1;
        display:flex;
    }
    
    .transform__image{
        order:1;
        flex:1;
    }

    .transform__center{
        width:400px;
        margin:auto;
    }

    /*STAND OUT SECTION*/

    .stand{
        flex-direction: row;
        gap:0;
    }

    .stand__image{
        flex:1;
    } 

    .stand__text{
        flex:1;
        text-align:left;
        display:flex;
    }

    .stand__center{
        width:400px;
        margin:auto;
    }

    .padding{
        padding:0;
    }

    /*TWO IMAGES SECTION*/

    .twoimages{
        flex-direction: row;
    }

    .twoimages__firstimage, .twoimages__secondimage{
        flex:1;
    }

    .twoimages__text{
        display:flex;
        width:100%;
    }

    .twoimages .container{
        max-width:none;
        width:350px;
    }

    /*TESTIMONIALS SECTION*/

    .grid{
        grid-template-columns:1fr 1fr 1fr;
        column-gap:70px;
    }

    .testimonials{
        padding:150px 0 ;
    }

    .testimonials .container{
        max-width:1250px;
    }

    .testimonials__title{
        grid-row:1/2;
        grid-column:2/3;
        font-size:.8rem;
    }

    .testimonials__card:nth-child(2){
        grid-column:1/2;
        grid-row:2/3;
    }
    .testimonials__card:nth-child(3){
        grid-column:2/3;
        grid-row:2/3;
    }

    .testimonials__card:last-child{
        grid-column:3/4;
        grid-row:2/3;
    }

    .testimonials__text{
        margin-bottom:60px;
    }

    /*GALLERY SECTION*/

    .gallery{
        grid-template-columns:repeat(4,1fr);
    }

    /*FOOTER*/

    .footer{
        padding-top:70px;
    }

    .footer__logo{
        width:210px;
    }

    .footer__menu{
        gap:60px;
    }

    .footer__nav a{
        font-size:1.1rem;
        transition:color .2s;
    }

    .footer__nav a:hover{
        color:var(--white);
    }

    /*IMAGES*/

    .img-desktop{
        display:block;
    }
    .img-mobile{
        display:none;
    }

}




