/*MOBILE FIRST LAYOUT*/

/*INDEX


*/


/*VARIABLES AND PRESTYLING*/

:root{
    /*PRIMARY*/
    --soft-red: hsl(7, 99%, 70%);
    --soft-red-disabled:hsl(6, 92%, 90%);
    --yellow: hsl(51, 100%, 49%);
    --yellow-disabled:hsl(51, 89%, 83%);
    --dark-desaturated-cyan: hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --dark-moderate: hsl(168, 34%, 41%);
    --blue:hsl(168, 50%, 64%);
    /*NEUTRAL*/
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
    --backgorund:#f7f2ee;
    --background-intense:#f8e4d4;
}

@font-face{
    font-family:'Barlow';
    src:url(../fonts/Barlow-SemiBold.ttf);
}

@font-face{
    font-family:'Fraunces Bold';
    src:url(../fonts/Fraunces-Bold.ttf);
}

@font-face{
    font-family:'Fraunces Black';
    src:url(../fonts/Fraunces-Black.ttf)
}

a{
    text-decoration:none;
}

ul{
    list-style:none;


}

.img-desktop{
    display:none;
}

body{
    font-family: 'Barlow',sans-serif;
}

/*UTILITIES*/

.container{
    max-width:1370px;
    padding:0 24px;
    height:100%;
    margin:auto;
    position:relative;
}

.flex{
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.line-break{
    display:block;
}

.padding{
    padding-bottom:50px;
}

.underline{
    position:relative;
    text-transform:uppercase;
    z-index:2;
    font-family:'Fraunces Black',sans-serif;
}

.yellow::before{
    background-color: var(--yellow-disabled);
}

.yellow:hover::before{
    background-color: var(--yellow);
}


.pink::before{
    background-color:var(--soft-red-disabled);
}

.pink:hover::before{
    background-color:var(--soft-red);
}




.underline::before{
    content:'';
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    bottom:-1px;
    width:125px;
    height:8px;
    z-index:-1;
    border-radius:16px;
    transition:background-color .3s;
}

/*HEADER*/

.header{
    height:100%;
    position:relative;
}

.header__img{
   width:100%;
   height:100%;
   object-fit:cover;
}

.header__title{
    position:absolute;
    top:16%;
    text-align:center;
    width:100%;
}

.header__title h1{
    font-family:'Fraunces Bold';
    text-transform: uppercase;
    color:var(--white);
    font-size:12vw;
    letter-spacing:5px;
}

.header__title img{
    width:37px;
    margin-top:23px;
}

/*NAVBAR*/

.navbar{
    height:70px;
    position:fixed;
    z-index:3;
    width:100%;
    top:0;
}

.navbar__menu{
    position:absolute;
    z-index:-1;
    text-align:center;
    background-color:var(--backgorund);
    left: 25px;
    right: 25px;
    transition:transform .3s;
    margin-top:360px;
    transition:max-height .8s, opacity .3s;
    opacity:0;
    display:none;
}

.navbar__menu::before{
  content: "";
  position: absolute;
  top: -20px;
  right: 0;
  width: 0;
  border-bottom: 20px solid var(--backgorund);
  border-left: 20px solid transparent;
}

.navbar__toggle{
    opacity:1;
    display:block;
}

.navbar__item{
    margin:25px 0 ;
}

.navbar__item:last-child{
    margin:45px 0;
}

.navbar__link{
    padding-left:32px;
    color:var(--very-dark-grayish-blue);
}

.navbar__responsive{
    flex-grow:1;
}

.navbar__toggler{
    background-image:url(../img/icon-hamburger.svg);
    background-repeat:no-repeat;
    background-size:cover;
    width:25px;
    height:20px;
    border:none;
    background-color: transparent;
    cursor:pointer;
}

.navbar__link--btn{
    background-color:var(--yellow);
    margin:60px 0;
    border-radius:23px;
    padding:16px 40px;
    color:#000;
    text-transform: uppercase;
    font-family:'Fraunces Bold',sans-serif;
}

.navbar__scroll{
    background-color:rgba(2,2,2,.95);
}

.navbar__scroll .navbar__menu{
    background-color: var(--background-intense);
}

/*TRANSFORM SECTION*/

.transform{
    display:flex;
    flex-direction:column;
    gap:60px;
    background-color: var(--backgorund);
}

.transform img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.transform__text{
    text-align:center;
    order:1;
}

.transform__image{
    order:0;
}

.transform__text h2{
    font-family:'Fraunces Black',sans-serif;
    color:var(--very-dark-desaturated-blue);
    margin-bottom:20px;
    font-size:2rem;
}

.transform__text p{
    margin-bottom:20px;
    color:var(--very-dark-grayish-blue);
    line-height:1.5;
}

/*STAND OUT SECTION*/

.stand{
    display:flex;
    flex-direction:column;
    gap:60px;
    background-color:var(--backgorund);
}

.stand img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.stand__text{
    text-align:center;
}

.stand__text p{
    margin-bottom:20px;
    color:var(--very-dark-grayish-blue);
}

.stand__text h2{
    font-family:'Fraunces Black',sans-serif;
    color:var(--very-dark-desaturated-blue);
    margin-bottom:20px;
    font-size:2rem;
}

/*TWO IMAGES SECTION*/

.twoimages .container{
    padding:0 10px;
}

.twoimages img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.twoimages__firstimage, .twoimages__secondimage{
    position:relative;
}

.twoimages__text{
    position:absolute;
    text-align:center;
    bottom:35px;
}

.twoimages__text h2{
    text-transform: capitalize;
    margin-bottom:20px;
    font-family:'Fraunces Black',sans-serif;
    color:var(--very-dark-desaturated-blue);
}

.twoimages__text p{
    font-size:.9rem;
    line-height:1.8;
    color:var(--very-dark-desaturated-blue);
}

/*TESTIMONIALS SECTION*/

.testimonials{
    background-color:var(--backgorund);   
    text-align:center;
    padding-top:50px;
}

.testimonials img{
    border-radius:50%;
    width:85px;
    height:85px;
    margin-bottom:25px;
}

.testimonials__name p{
    margin-top:10px;
    text-transform: capitalize;
    color:var(--grayish-blue);
}

.testimonials__name h3{
    text-transform: capitalize;
    font-family:'Fraunces Bold',sans-serif;
}

.testimonials__text{
    line-height:1.7;
    margin-bottom:25px;
    color:var(--very-dark-grayish-blue);
}

.grid{
    display:grid;
    gap:80px;
    grid-template-columns:1fr;
}

.testimonials__title{
    font-family:'Fraunces Bold';
    text-transform: uppercase;
    color:var(--grayish-blue);
    font-size:.65rem;
    letter-spacing: 3.5px;
    
}

/*GALLERY SECTION*/

.gallery{
    display:grid;
    grid-template-columns:1fr 1fr;
}

.gallery img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.footer{
    background-color:var(--blue);
    text-align:center;
    padding-top:25px;
}

.footer__social img{
    margin:0 10px;
}

.footer__social{
    margin-top:50px;
}

.footer__nav{
    display:flex;
    justify-content: center;
    margin:15px 0;
}

.footer__nav a{
    color:var(--dark-moderate);
}

.footer__nav li{
    padding:20px;
}

.attribution{
    margin-top:20px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


@media screen and (min-width:720px){
    /*NAVBAR*/

    .navbar{
        height:100px;
    }

    .navbar__toggler{
        display:none;
    }
    .navbar__scroll .navbar__menu{
        background-color: transparent;
    }

    .navbar__menu{
        position:relative;
        display:flex;
        align-items: center;
        opacity:1;
        background-color:transparent;
        margin-top:0;
        z-index:2;
    }

    .navbar__menu::before{
        position:relative;
        border:none;
    }

    .navbar__link--btn{
        margin-left:50px;    
        background-color: var(--white);
        transition:background-color .3s;
    }

    .navbar__link--btn:hover{
        background-color:rgba(255,255,255,.35);
        color:var(--white);
    }

    .navbar__link{
        margin:0;
        color:var(--white);
    }

    /*HEADER*/

    .header__title{
        top:30%;
    }

    .header__title h1{
        font-size:42px;
    }

    /**/

    /*IMAGES*/

    .img-desktop{
        display:block;
    }
    .img-mobile{
        display:none;
    }
    


}




